html, body {
    margin: 0;
    padding: 0;
}

html {
    background-image: url("img/chaoshou-beijing.jpg");
    /*background-image: url("img/截屏2022-07-21 21.33.01.png");*/
    /*background-image: url("img/QQ20220722-140054@2x的副本.png");*/
    background-position: top center;
    background-size: cover;
    height: 100%;
}

body {
    position: relative;
}


hr {
    border: 0;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.1);
}

.ice-machine {
    width: 400px;
    height: 400px;
    margin: 50px auto;
    display: block;
}

.main {
    position: absolute;
    height: 650px;
    width: 500px;
    top: 40PX;
    left: 55%;
    background-color: rgba(220, 222, 223, 0.8);
    border: 2px solid black;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 0 6px black;
}

.ice_hr {
    margin-top: 4px;
    margin-bottom: 0;
}

h1 {
    line-height: 50px;
    height: 40px;
    color: #d7dee4;
    text-shadow: -2px 0px 2px black, 0px -2px 2px black, 0px 5px 2px black, 5px 2px 2px black;;
    font-size: 28px;
    margin: 0;
}

.control {
    background-color: rgba(194, 196, 192, 0.9);
    border: 2px solid #959496;
    border-radius: 8px;
    table-layout: fixed;
    word-wrap: break-word;
    overflow: scroll;
}


text {
    font-size: 18px;
    background-image: -webkit-linear-gradient(left, green, goldenrod, pink, blue, red 25%, green 35%,
    blue 50%, yellow 60%, red 75%, pink 85%, blue 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: stream 15s infinite linear;
    background-size: 200% 100%;
}

@keyframes stream {
    /*//  匀速流动*/
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -100% 0;
    }
}


@media screen and  (max-width: 950px) {
    .control {
        left: 20px;

    }

}

::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}

/*.ice-button {*/
/*    top: 600px;*/
/*    position: absolute;*/
/*    left: 55%;*/

/*}*/

text {
    margin: 40px 30%;
    font: 18px '微软雅黑', 'Microsoft YaHei', 'Apple LiGothic Medium';
}

.ice-button {
    text-align: center;
}

.bt {
    display: inline-block;
    width: 134px;
    height: 41px;
    line-height: 41px;
    /*background: url('img/图标/viewdetail.jpg') no-repeat center;*/
    background-color: rgb(213, 223, 234, 0.9);
    border: 2px solid #959496;
    margin: 0px 5px;
    border-radius: 5px;
    color: #d7dee4;
    text-shadow: 0px 2px 2px black, 0px -2px 2px black, 2px 0px 2px black, -2px 0px 2px black;
    font-size: 21px;
    text-align: center;
    vertical-align: middle;
    /*text-overflow: ellipsis;*/
    text-decoration: none;
    box-shadow: 0 0 1px transparent;

}

.yorn {
    text-shadow: 0 1px 1px black, 0 -1px 1px black;
    font-size: 15px;
    text-align: center;
    color: #cfa13a;
    line-height: 40px;
    width: 380px;
}

.bt:hover {
    box-shadow: 0 0 10px transparent;
    /*transition-delay: 0.1s;*/
    border: 2px solid #4f9fd7;
}

.bt:active {
    transition-property: transform;
    transition-duration: 0.1s;
    transform: scale(90%);
}

.ice_ever {
    /*opacity: 0.8;*/
    /*transform: translate(-411px, 250px);*/
    /*临时让窗口不显示测试用*/
    /*display: none;*/
    position: absolute;
    height: 270px;
    width: 600px;
    top: 40PX;
    left: 55%;
    background-color: rgba(220, 222, 223, 0.9);
    border: 2px solid black;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 0 6px black;
}

.ice_ever_h1 {
    line-height: 30px;
    height: 30px;
    margin: 2px 0 0 8px;
}

.backpack_h1 {
    margin: 7px 0 0 14px;
}

.gotspan1 {
    text-shadow: 0 1px 1px black, 0 -1px 1px black;
    font-size: 25px;
    color: #cfa13a;
    width: 20px;
    display: block;
    margin-left: 17px;
}

.gotspan2 {
    display: block;
    color: #686868;
    margin: 6px 0 0px 11px;
}

.box_pic {
    width: 90px;
    height: 90px;
    display: block;
    margin: 15px;
}

.box_name {
    display: block;
    line-height: 119px;
    color: #686868;
    margin: 0 10px;
    font-size: 25px;
}

.ice_bgc {
    padding: 7px;
    background-color: rgba(163, 168, 170);
    border: 2px solid #959496;
    border-radius: 8px;
    table-layout: fixed;
    word-wrap: break-word;
    overflow: scroll;
    margin: -3px 0 0 6px;
}

.fly-mid {
    display: block;
    height: 90px;
    width: 1px;
    margin: 15px 10px 10px 10px;
    vertical-align: middle;
    background-color: #a4a8aa;
}

.box_ice {
    display: flex;
    background-color: rgba(999, 999, 999, .9);
    border: 3px solid #959496;
    border-radius: 8px;
    table-layout: fixed;
    word-wrap: break-word;
    overflow: scroll;
}

.ice_got {
    display: flex;
}

.backpack {
    /*display: none;*/
    position: absolute;
    top: 400PX;
    left: 890px;
    /*width: 701px;*/
    height: 330px;
    background-color: rgba(220, 222, 223, 0.9);
    border: 2px solid black;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 0 6px black;

}

.backpack_bgc {
    padding: 0;
    margin: 15px 8px 8px 8px;
    background-color: rgba(163, 168, 170, 0.9);
    height: 255px;
}

.backpack_bgc2 {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 8px;
    padding: 7px;
    height: 220px;
}

text {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.ice_bt {
    display: inline-block;
    width: 134px;
    height: 41px;
    line-height: 41px;
    /*background: url('img/图标/viewdetail.jpg') no-repeat center;*/
    background-color: rgb(213, 223, 234, 0.9);
    border: 2px solid #959496;
    border-radius: 5px;
    color: #d7dee4;
    text-shadow: 0 2px 2px black, 0 -2px 2px black, 2px 0 2px black, -2px 0 2px black;
    font-size: 21px;
    text-align: center;
    vertical-align: middle;
    /*text-overflow: ellipsis;*/
    text-decoration: none;
    box-shadow: 0 0 1px transparent;
    margin: 9px 13px 0 8px;
}

.total_text {
    margin: 10px 10px 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}


.result img {
    /*opacity: 0.5;*/
    /*opacity: 0.3;*/
    width: 76px;
    height: 56px;
    /*margin: 6px -0.7px -3.5px 9.1px;*/
    display: inline;
    /* border: 4px solid #7d807c; */
    border-radius: 2px;
    margin: 4px;
}

.result {
    background: url("img/backpack_bg_p.png") repeat;
    /*background-size: 100%;*/

    /*background-color: #c7c9d0;*/
    /*background-image: linear-gradient(90deg, #ffffff 10px, rgba(0, 0, 0, 0) 10px), linear-gradient(#ffffff 10px, rgba(0, 0, 0, 0) 10px);*/
    /*background-size: 80px 60px;*/
    height: 832px;
    line-height: 0;
    width: 672px;
}

.message {
    transform: translate(140px, 433px);
    background: rgba(215, 222, 228, 0.2);
    height: 200px;
    width: 500px;
    overflow: scroll;
}

.ice_span {
    margin-left: 10px;
    text-shadow: -1px 0 1px black, 0 -1px 1px black;
    color: orangered;
    display: block;
    line-height: 30px;
}

.yellow {
    color: #cfa13a;
}

.t40 {
    display: none;
}

/*@media screen and (max-width: 1920px) {*/
/*    html {*/
/*        font-size: 100px;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 1366px) {*/
/*    html {*/
/*        font-size: 100px;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 1280px) {*/
/*    html {*/
/*        font-size: 94px;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 1024px) {*/
/*    html {*/
/*        font-size: 75px;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 800px) {*/
/*    html {*/
/*        font-size: 59px;*/
/*    }*/
/*}*/
