
html, body {
    margin: 0;
    padding: 0;
}

html {
    background-image: url("img/chaoshou-beijing.jpg");
    /*background-image: url("img/截屏2022-07-21 21.33.01.png");*/
    /*background-image: url("img/QQ20220722-140054@2x的副本.png");*/
    background-position: top center;
    background-size: cover;
    height: 100%;
}

body {
    position: relative;
    font-size: 0.833vw;
}


hr {
    border: 0;
    height: 0.119vw;
    background-color: rgba(0, 0, 0, 0.1);
}

.ice-machine {
    width: 23.81vw;
    height: 23.81vw;
    margin: 2.976vw auto;
    display: block;
}

.main {
    position: absolute;
    height: 38.69vw;
    width: 29.762vw;
    top: 2.381vw;
    left: 55%;
    background-color: rgba(220, 222, 223, 0.8);
    border: 0.119vw solid black;
    border-radius: 0.476vw;
    padding: 0.476vw;
    box-shadow: 0 0 0.357vw black;
}

.ice_hr {
    margin-top: 0.238vw;
    margin-bottom: 0;
}

h1 {
    line-height: 2.976vw;
    height: 2.381vw;
    color: #d7dee4;
    text-shadow: -0.119vw 0vw 0.119vw black, 0vw -0.119vw 0.119vw black, 0vw 0.298vw 0.119vw black, 0.298vw 0.119vw 0.119vw black;;
    font-size: 1.667vw;
    margin: 0;
}

.control {
    background-color: rgba(194, 196, 192, 0.9);
    border: 0.119vw solid #959496;
    border-radius: 0.476vw;
    table-layout: fixed;
    word-wrap: break-word;
    overflow: scroll;
}


text {
    font-size: 1.071vw;
    background-image: -webkit-linear-gradient(left, green, goldenrod, pink, blue, red 25%, green 35%,
    blue 50%, yellow 60%, red 75%, pink 85%, blue 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: stream 15s infinite linear;
    background-size: 200% 100%;
}

@keyframes stream {
    /*//  匀速流动*/
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -100% 0;
    }
}


@media screen and  (max-width: 56.548vw) {
    .control {
        left: 1.19vw;

    }

}

::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}

/*.ice-button {*/
/*    top: 35.714vw;*/
/*    position: absolute;*/
/*    left: 55%;*/

/*}*/

text {
    margin: 2.381vw 30%;
    font: 1.071vw '微软雅黑', 'Microsoft YaHei', 'Apple LiGothic Medium';
}

.ice-button {
    text-align: center;
}

.bt {
    display: inline-block;
    width: 7.976vw;
    height: 2.44vw;
    line-height: 2.44vw;
    /*background: url('img/图标/viewdetail.jpg') no-repeat center;*/
    background-color: rgb(213, 223, 234, 0.9);
    border: 0.119vw solid #959496;
    margin: 0vw 0.298vw;
    border-radius: 0.298vw;
    color: #d7dee4;
    text-shadow: 0vw 0.119vw 0.119vw black, 0vw -0.119vw 0.119vw black, 0.119vw 0vw 0.119vw black, -0.119vw 0vw 0.119vw black;
    font-size: 1.25vw;
    text-align: center;
    vertical-align: middle;
    /*text-overflow: ellipsis;*/
    text-decoration: none;
    box-shadow: 0 0 0.06vw transparent;

}

.yorn {
    text-shadow: 0 0.06vw 0.06vw black, 0 -0.06vw 0.06vw black;
    font-size: 0.893vw;
    text-align: left;
    color: #cfa13a;
    line-height: 2.381vw;
    padding-left: 25%;
    white-space: nowrap;
}

.bt:hover {
    box-shadow: 0 0 0.595vw transparent;
    /*transition-delay: 0.1s;*/
    border: 0.119vw solid #4f9fd7;
}

.bt:active {
    transition-property: transform;
    transition-duration: 0.1s;
    transform: scale(90%);
}

.ice_ever {
    /*opacity: 0.8;*/
    /*transform: translate(-24.464vw, 14.881vw);*/
    /*临时让窗口不显示测试用*/
    /*display: none;*/
    position: absolute;
    height: 16.071vw;
    width: 35.714vw;
    top: 2.381vw;
    left: 55%;
    background-color: rgba(220, 222, 223, 0.9);
    border: 0.119vw solid black;
    border-radius: 0.476vw;
    padding: 0.476vw;
    box-shadow: 0 0 0.357vw black;
}

.ice_ever_h1 {
    line-height: 1.786vw;
    height: 1.786vw;
    margin: 0.119vw 0 0 0.476vw;
}

.backpack_h1 {
    margin: 0.417vw 0 0 0.833vw;
}

.gotspan1 {
    text-shadow: 0 0.06vw 0.06vw black, 0 -0.06vw 0.06vw black;
    font-size: 1.488vw;
    color: #cfa13a;
    width: 1.19vw;
    display: block;
    margin-left: 1.012vw;
}

.gotspan2 {
    display: block;
    color: #686868;
    margin: 0.357vw 0 0vw 0.655vw;
}

.box_pic {
    width: 5.357vw;
    height: 5.357vw;
    display: block;
    margin: 0.893vw;
}

.box_name {
    display: block;
    line-height: 7.083vw;
    color: #686868;
    margin: 0 0.595vw;
    font-size: 1.488vw;
}

.ice_bgc {
    padding: 0.417vw;
    background-color: rgba(163, 168, 170);
    border: 0.119vw solid #959496;
    border-radius: 0.476vw;
    table-layout: fixed;
    word-wrap: break-word;
    overflow: scroll;
    margin: -0.179vw 0 0 0.357vw;
}

.fly-mid {
    display: block;
    height: 5.357vw;
    width: 0.06vw;
    margin: 0.893vw 0.595vw 0.595vw 0.595vw;
    vertical-align: middle;
    background-color: #a4a8aa;
}

.box_ice {
    display: flex;
    background-color: rgba(999, 999, 999, .9);
    border: 0.179vw solid #959496;
    border-radius: 0.476vw;
    table-layout: fixed;
    word-wrap: break-word;
    overflow: scroll;
}

.ice_got {
    display: flex;
}

.backpack {
    /*display: none;*/
    position: absolute;
    top: 23.81vw;
    left: 52.976vw;
    /*width: 41.726vw;*/
    height: 19.643vw;
    background-color: rgba(220, 222, 223, 0.9);
    border: 0.119vw solid black;
    border-radius: 0.476vw;
    padding: 0.476vw;
    box-shadow: 0 0 0.357vw black;

}

.backpack_bgc {
    padding: 0;
    margin: 0.893vw 0.476vw 0.476vw 0.476vw;
    background-color: rgba(163, 168, 170, 0.9);
    height: 15.179vw;
}

.backpack_bgc2 {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0.476vw;
    padding: 0.417vw;
    height: 13.095vw;
}

text {
    padding: 0.595vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.ice_bt {
    display: inline-block;
    width: 7.976vw;
    height: 2.44vw;
    line-height: 2.44vw;
    /*background: url('img/图标/viewdetail.jpg') no-repeat center;*/
    background-color: rgb(213, 223, 234, 0.9);
    border: 0.119vw solid #959496;
    border-radius: 0.298vw;
    color: #d7dee4;
    text-shadow: 0 0.119vw 0.119vw black, 0 -0.119vw 0.119vw black, 0.119vw 0 0.119vw black, -0.119vw 0 0.119vw black;
    font-size: 1.25vw;
    text-align: center;
    vertical-align: middle;
    /*text-overflow: ellipsis;*/
    text-decoration: none;
    box-shadow: 0 0 0.06vw transparent;
    margin: 0.536vw 0.774vw 0 0.476vw;
}

.total_text {
    margin: 0.595vw 0.595vw 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}


.result img {
    /*opacity: 0.5;*/
    /*opacity: 0.3;*/
    width: 4.524vw;
    height: 3.333vw;
    /*margin: 0.357vw -0.042vw -0.208vw 0.542vw;*/
    display: inline;
    /* border: 0.238vw solid #7d807c; */
    border-radius: 0.119vw;
    margin: 0.238vw;
}

.result {
    background: url("img/backpack_bg_p.png") repeat;
    /*background-size: 100%;*/
    /*background-color: #c7c9d0;*/
    /*background-image: linear-gradient(90deg, #ffffff 0.595vw, rgba(0, 0, 0, 0) 0.595vw), linear-gradient(#ffffff 0.595vw, rgba(0, 0, 0, 0) 0.595vw);*/
    /*background-size: 4.762vw 3.571vw;*/
    height: 49.524vw;
    line-height: 0;
    width: 40vw;
    background-size: 5vw 3.81vw;
}

.message {
    transform: translate(8.333vw, 25.774vw);
    background: rgba(215, 222, 228, 0.2);
    height: 11.905vw;
    width: 29.762vw;
    overflow: scroll;
}

.ice_span {
    margin-left: 0.595vw;
    text-shadow: -0.06vw 0 0.06vw black, 0 -0.06vw 0.06vw black;
    color: orangered;
    display: block;
    line-height: 1.786vw;
}

.yellow {
    color: #cfa13a;
}

.t40 {
    display: none;
}

@media screen and (orientation: portrait) {
    /*竖屏 css*/
    .ice_ever {
        transform: translate(-25vw, 10vw) scale(2.2);
    }
    .backpack {
        transform: translate(-25vw, 70vw) scale(2);
    }
    .ice_bt{
        margin: 0;
    }
    .message {
        font-size: 1vw;
        transform: translate(30vw, 53vw) scale(2.5);
    }

}
